.Accounts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SearchFiledWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 66.6%;
}

.SearchInput {
  flex-grow: 1;
  margin-right: 22px;
  padding: 11px 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.54px;
  color: #fff;
  background-color: #0f1017;
  border-radius: 21.5px;
  border: none;
}

.SearchInput:focus {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  outline: none;
}

.SearchInput::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.54px;
  color: #bfc1c6;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
}

.Title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  letter-spacing: 0.84px;
  color: #fff;
}

.SortSelectorText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 65px;
  letter-spacing: 0.42px;
  color: #bfc1c6;
}

.SortSelectorLabel {
  margin-right: 30px;
}

.SortSelector {
  background-color: transparent;
  border: none;
}

.AccountsList {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-gap: 30px;
}
