.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  cursor: pointer;
}

.Checkmark {
  color: #fe6b00;
  font-size: 24px;
}

.Container:focus {
  box-shadow: 0 0 1px #fff;
  outline: none;
}

.Disabled {
  cursor: default;
  border-color: #696e79;
  opacity: 0.53;
}

.Container:focus.Disabled {
  box-shadow: none;
  outline: none;
}
