.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Logo {
  background-color: rgb(43, 53, 94);
  padding: 30px;
  display: block;
}

.Container {
  text-align: center;
}

.StatusBar {
  display: inline-block;
  margin: 10px;
}

.ButtonPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.ButtonWrapper {
  margin: 0 5px;
}

.error {
  color: red;
}
