.TransactionsList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  user-select: none;
}

.Title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.51px;
  text-transform: uppercase;
  color: #fff;
}

.Transaction {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
}

.TransactionDirection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background: #242b43;
  border-radius: 5px;
  color: #fff;
}

.TransactionTitle {
  display: inline-block;
  width: 87px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.38888888889vw;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #fff;
}

.TransactionStatus {
  position: absolute;
  bottom: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.42px;
  color: #aaa;
}

.TransactionDate {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
}

.TransactionDateTime {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TransactionTime {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.TransactionCertificate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8.33333333333vw;
  min-width: 100px;
}

.TransactionText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.42px;
  color: #fff;
  white-space: nowrap;
}

.TransactionAmountContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 120px;
  font-size: 1.25vw;
}

.TransactionAmount {
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.54px;
  color: #fff;
}

.TransactionAmountCurrency {
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.54px;
  color: #fff;
}

.TransactionComment {
  font-size: 10px;
  grid-area: comment;
}

.TransactionRow {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 8% 14% 28% 20% 120px;
  grid-template-areas:
    '. . . . .'
    '. . comment comment comment';
  width: 100%;
}
