/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../resources/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(../resources/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../resources/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../resources/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0;
  background: #1f2331 linear-gradient(180deg, #1f2331 0%, #151820 100%);
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll bar styling */

.ScrollBar::-webkit-scrollbar {
  background-color: transparent;
}

.ScrollBar::-webkit-scrollbar-button {
  /* default style */
}

.ScrollBar::-webkit-scrollbar-track {
  /* default style */
}

.ScrollBar::-webkit-scrollbar-track-piece {
  background: linear-gradient(180deg, #5b5d63, #5b5d63) no-repeat 50%;
  background-size: 1px calc(100% - 15px);
}

.ScrollBar::-webkit-scrollbar-thumb {
  border-radius: 7.5px;
  background-color: #5a658e;
}

.ScrollBar::-webkit-scrollbar-corner {
  /* default style */
}

.ScrollBar::-webkit-resizer {
  /* default style */
}
