.Container {
  display: grid;
  grid-template-columns: 406px auto;
  grid-template-rows: 132px auto;
  height: 100vh;
}

.StatusBar {
  grid-row: 1;
  grid-column: 1 / 3;
}

.Menu {
  grid-column: 1;
  grid-row: 2;
}
