.Container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 440px;
  height: 300px;
  margin-top: 33px;
  padding: 0 44px 0 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.InputContainer {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #5b5d63;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.48px;
  color: #fff;
}

.InputInnerContainer {
  display: flex;
  flex-direction: row;
}

.Input {
  margin-left: 10px;
  flex: 1;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.48px;
  color: #fff;
  border: none;
  background-color: transparent;
}

.Input:focus {
  outline: none;
}
