.Send {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  user-select: none;
}

.Title {
  margin-bottom: 57px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  letter-spacing: 0.84px;
  color: #fff;
}

.SendForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 24px;
  margin-top: 38px;
  background: linear-gradient(5.23deg, #252c46 -46.39%, #383f59 180.75%);
  border-radius: 5px;
}

.FormTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 37px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1.11px;
  color: #fff;
}

.SendFormContainer {
  display: grid;
  grid-template-columns: max-content auto;
  grid-auto-rows: auto;
  grid-gap: 30px;
  padding: 32px 13% 84px 13%;
  background-color: #1e2338;
}

@media screen and (max-width: 1220px) {
  .SendFormContainer {
    grid-template-columns: auto;
    grid-gap: 8px;
  }
}

.FormFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.FormFieldContainer:focus {
  outline: none;
}

@media screen and (max-width: 1350px) {
  .ColOnSmall {
    flex-direction: column;
  }
}

.FieldLabel {
  margin-top: 7px;
  margin-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
}

.CheckboxLabel {
  margin-left: 10px;
  margin-right: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.48px;
  white-space: nowrap;
  color: #fff;
}

.CertificateDescription {
  height: 24px;
  margin-top: 24px;
  margin-bottom: -48px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.3px;
  white-space: normal;
  color: #fff;
}

.FormField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 8px;
  background: transparent;
  border: 1px solid #5b5d63;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.48px;
  color: #fff;
  resize: none;
}

.FormField:focus {
  outline: none;
  border-color: #787b83;
}

.FormFieldFixedValue {
  border: none;
}

.FeeInput {
  width: 100%;
  background: transparent;
  border: none;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.48px;
  color: #fff;
}

.FeeInput::-webkit-outer-spin-button,
.FeeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.FeeInput:focus {
  outline: none;
}

.Dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  background: transparent;
  border: 1px solid #5b5d63;
  color: #fff;
}

.Dropdown select {
  flex-grow: 1;
  padding: 5px 8px;
  background: none;
  border: none;
  -webkit-appearance: none;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.48px;
  color: #fff;
}

.Dropdown select option {
  color: #1e2338;
}

.Dropdown select:focus {
  outline: none;
}

.QrcodeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 64px;
}

.Qrcode {
  width: 218px;
  height: 218px;
  align-self: center;
  image-rendering: pixelated;
}

.AccountAddress {
  margin-top: 32px;
  padding: 0 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.39px;
  color: #fff;
}

.ActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 38px 65px;
}

.ActionsContainer > * {
  margin-left: 26px;
}

.ModalBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 384px;
}

.LostPassword {
  margin-top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.89px;
  color: #fff;
}

.ActionsContainerModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.ActionsContainerModal > div {
  margin: 0 15px;
}

.TransactionSentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px 102px 84px 102px;
  background-color: #1e2338;
}

.TransactionSentTitle {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0.87px;
  text-transform: uppercase;
  color: #ff6c00;
}

.TransactionSentText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.48px;
  color: #fff;
}

.Error {
  display: inline-block;
  margin-top: 3px;
  float: left;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: #ff6c00;
}

.TotalAmount {
  margin: -10px auto auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.54px;
  color: #fff;
}

.TotalAmountValue {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.66px;
  color: #ff6c00;
}
