.AccountsList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  user-select: none;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SearchFiledWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SearchInput {
  flex-grow: 1;
  margin-right: 22px;
  padding: 11px 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.54px;
  color: #fff;
  background-color: #0f1017;
  border-radius: 21.5px;
  border: none;
}

.SearchInput:focus {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  outline: none;
}

.SearchInput::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.54px;
  color: #bfc1c6;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RestoreButton {
  font-size: 12px;
  margin-left: 60px;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
}

.Title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  letter-spacing: 0.84px;
  color: #fff;
}

.SortSelectorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

.SortSelectorText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 65px;
  letter-spacing: 0.42px;
  color: #bfc1c6;
}

.SortSelectorLabel {
  margin-right: 30px;
}

.SortSelector {
  background-color: transparent;
  border: none;
}

.Accounts {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-gap: 30px;
}

@media screen and (max-width: 1530px) {
  .RestoreButton {
    margin-left: 25px;
  }
}

@media screen and (max-width: 1460px) {
  .Header {
    margin-top: 5px;
  }

  .SearchBar {
    align-items: flex-start;
  }

  .CreateAccountButton {
    width: 200px;
  }

  .ButtonsContainer {
    flex-direction: column;
    align-items: flex-end;
  }

  .RestoreButton {
    margin: 25px 0 0 0;
  }
}
